<div class="container">
    <br>
    <div class="text-left">
        <h6> Date Time: <span style="font-weight: normal">{{ timeChange | async }}</span></h6>
    </div>
<app-item-entry [person]=item [submitted]=submit (getSubmitStatusChange)='refreshList($event)'></app-item-entry>
    <br><br>
    <div class="row">
        <h6>Date Converter: </h6>
        <div class="col-sm-5" style="text-align: left">
            <input type="text" [(ngModel)]="dateStr" style="text-align: left; width: 450px">
        </div>
        <div class="col-sm-3" style="text-align: left;">
            <button (click)="clickedDate(dateStr);">Parse Date</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="text-align: center;">
            &nbsp;
        </div>
    </div>
    <div class="row text-left">
        <div class="col-sm-6" style="text-align: center;">
            <input [(ngModel)]="newDateStr" style="text-align: center; width: 450px" disabled>
        </div>
        <div class="col-sm-6" style="text-align: center;">
            {{ latestDateStr }}
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row" style="border: solid 2px black">
            <div class="col-lg-12 text-center" style="padding-top: 20px;">
                <div class="container" style="padding-left: 0; padding-right: 0;">
                    <div class="row">
                        <div class="col-sm" style="text-align: left;">
                            <h1>{{ title }}</h1>
                        </div>
                    </div>
                </div>
                <div class="container" style="padding-left: 0; padding-right: 0;">

                </div>
                <div class="container box" style="margin-top: 10px;">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>count</th>
                            <th>id</th>
                            <th>Country</th>
                            <th>Passport</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of items; let i = index">
                            <th>{{ i + 1 }}</th>
                            <th id="{{ 'item_' +item.id }}" scope="row">
                                <button (click)="clickedPerson($event,item.id);">{{ item.id }}</button>
                            </th>
                            <td>{{ item?.country?.name }}</td>
                            <td>{{ item?.passport?.number }}</td>
                            <td>{{ item?.firstname }}</td>
                            <td>{{ item?.lastname }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h6>Observable Test</h6>
                    <div>
                        The summation of numbers ( <span *ngFor="let num of numbers"> {{ num }} </span> ) is {{ val1 }}
                    </div>
                    <div>
                        The summation of filtered numbers ( <span *ngFor="let num of filteredNumbers"> {{ num }} </span>
                        )
                        is {{ val2 }}
                    </div>
                    <div>
                        The summation of processed numbers ( <span
                            *ngFor="let num of processedNumbers"> {{ num }} </span> )
                        is {{ val3 }}
                        <hr>
                    </div>
                    <div>
                        <h6>ITEMS COUNT</h6>
                        {{ itemCountStr }}
                    </div>
                    <hr>
                    <div>
                        <h6>Editing Item:</h6> <br>
                        <pre>{{ itemObservable$ | async }}</pre>
                        <hr>
                    </div>
                    <hr>
                    <div>
                        <h6>EMPLOYEES OF THE MONTH:</h6> <br>
                        {{ personChange$ | async}}
                        <hr>
                        <h6>Exemplary Employees</h6>
                        <ul>
                            <li *ngFor="let p of oddPersons; let j = index">
                                <div class="row text-left">
                                    <div class="col-3"><b>{{ p.id }}</b></div>
                                    <div class="col-3">{{ p.firstname }}</div>
                                    <div class="col-3">{{ p.lastname }}</div>
                                </div>
                            </li>
                        </ul>
                        <h6>Employee birthday this month</h6>
                        <ul>
                            <li *ngFor="let p of badPersons; let j = index">
                                <div class="row text-left">
                                    <div class="col-3"><b>{{ p.id }}</b></div>
                                    <div class="col-3">{{ p.firstname }}</div>
                                    <div class="col-3">{{ p.lastname }}</div>
                                </div>
                            </li>
                        </ul>
                        <hr>
                    </div>
                </div>
                <div>
                    <a id="counter" (click)="clickedCounter();" style="cursor: pointer; color: blue">Click here</a> to
                    increment the counter value. The current counter value is {{ counter }}
                </div>
                <br>
            </div>
        </div>
    </div>
    <br>
</div>
