<div class="container">
    <br>
<app-item-entry [childItem]=item [childSubmitted]=submit (getSubmitStatusChange)='refreshList($event, item)'></app-item-entry>
    <br><br>
    <div class="container">
        <div class="row" style="border: solid 2px black">
            <div class="col-lg-12 text-center" style="padding-top: 20px;">
                <div class="container" style="padding-left: 0; padding-right: 0;">
                    <div class="row">
                        <div class="col-sm" style="text-align: left;">
                            <h1>{{ title }}</h1>
                        </div>
                        <div class="col-sm" style="text-align: left;">
                            <input *ngIf="items.length > 9" type="button" class="nav-link" (click)='getNextPage()' value="Next"/>
                        </div>
                        <div class="col-sm" style="text-align: left;">
                            <input *ngIf="pageNo >= 1" type="button" class="nav-link" (click)='getBackPage()' value="Back"/>
                        </div>
                        <div class="col-sm" style="text-align: left;">
                            <h2>Page {{ this.pageNo + 1}}</h2>
                        </div>
                    </div>
                </div>
                <div class="container" style="padding-left: 0; padding-right: 0;">

                </div>
                <div class="container box" style="margin-top: 10px;">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>count</th>
                            <th>id</th>
                            <th>Country</th>
                            <th>Passport</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Position</th>
                            <th>Age</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of items; let i = index">
                            <th>{{ i + 1 }}</th>
                            <th id="{{ 'item_' + item.id }}" scope="row">
                                <button (click)="clickedPerson($event,item.id);navigateToSection('firstname')">
                                    {{ item.id }}
                                </button>
                            </th>
                            <td><a href="/country/{{ item?.countryId }}"><p> {{ item?.countryName }} </p></a></td>
                            <td>{{ item?.passportNumber }}</td>
                            <td>{{ item?.firstname }}</td>
                            <td>{{ item?.lastname }}</td>
                            <td>{{ item?.position }}</td>
                            <td>{{ item?.age }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <hr>
                    <hr>
                    <div>
                        <h6>Exemplary Contributors</h6>
                        <ul class="list-inline">
                            <li *ngFor="let p of bestItems; let j = index">
                                <div class="row text-left">
                                    <div class="col-3" style="text-align: left">{{ p.firstname }}</div>
                                    <div class="col-3" style="text-align: left">{{ p.lastname }}</div>
                                    <div class="col-3" style="text-align: left"><b>{{ p.position }}</b></div>
                                </div>
                            </li>
                        </ul>
                        <h6>Employee birthday this month</h6>
                        <ul class="list-inline">
                            <li *ngFor="let p of birthItems; let j = index">
                                <div class="row text-left">
                                    <div class="col-3" style="text-align: left">{{ p.firstname }}</div>
                                    <div class="col-3" style="text-align: left">{{ p.lastname }}</div>
                                    <div class="col-3" style="text-align: left">will be: <b>{{ p.age + 1 }}</b></div>
                                </div>
                            </li>
                        </ul>
                        <hr>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="text-align:center;">
                &nbsp;
            </div>
        </div>
    </div>
    <br>
</div>
