<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav w-100">
        <li class="nav-item w-20 text-center">
            <a class="nav-link" routerLink="/home"><b>Home</b></a>
        </li>
        <li class="nav-item w-20 text-center">
            <a class="nav-link" routerLink="/artists">Elastic-Search</a>
        </li>
        <li class="nav-item w-20 text-center">
            <a class="nav-link" href="{{ wandUrl }}">Store-Front</a>
        </li>
        <li class="nav-item w-20 text-center">
            <a class="nav-link" routerLink="/search">Employees</a>
        </li>
        <li class="nav-item w-20 text-center">
            <a class="nav-link" routerLink="/about"><b>About</b></a>
        </li>
        <span *ngIf="loggedIn(); then thenBlock else elseBlock"></span>
        <ng-template #thenBlock>
            <button class="nav-item bg-dark" type="button" (click)="openPopup()" style="color: #ffffff;">
                {{ cookieService.get('username')}}                             <span class="navbar-toggler-icon"></span>
            </button>
            <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
                                <span aria-hidden="true">Close</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <button type="button" class="btn btn-primary">
                                Profile
                            </button>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" (click)="closePopup()">
                                Sign Out
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template #elseBlock>
            <li class="nav-item w-20 text-center">
                <a class="nav-link" routerLink="login"><b>Sign in</b></a>
            </li>
        </ng-template>
    </ul>
</nav>
<router-outlet></router-outlet>



