<div class="toolbar" role="banner">
    <img width="50" alt="Yardwork Professional" src="assets/yard_mini_logo.png" title="Yardwork Professional"/>
    <span>YARDWORK PROFESSIONAL</span>
    <div class="spacer"></div>
    <a aria-label="Yardwork Professional on twitter" target="_blank" rel="noopener" href="https://twitter.com/plazolas"
       title="Twitter">
        <svg id="twitter-logo" height="24" data-name="Logo — FIXED" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 400 400">
            <defs>
                <style>
                    .cls-1 {
                        fill: none;
                    }

                    .cls-2 {
                        fill: #ffffff;
                    }
                </style>
            </defs>
            <rect class="cls-1" width="400" height="400"/>
            <path class="cls-2"
                  d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23"
            />
        </svg>
    </a>
</div>
<div class="grid-container top-pane">
    <div class="row">
        <div class="col-12">
            <h3 class="heading-title text-center">
                <b>Your Trusted Outdoor Living & Landscape Design Company</b>
            </h3>
            <div class="row text-center"><a href="tel:4074801670" title="Call now!"><img style="width: 50%;" src="/assets/sign.png"></a></div>
            <br>
            <div class="row">
                <h5 class="text-center green-background">
                    <b>Winter Garden, FLORIDA, and the Surrounding Area</b>
                </h5>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h2 class="text-center">
            <b>Comprehensive Services Backed by</b>
        </h2>
        <h2 class="text-center">
            <b>Over 20 Years of Landscaping Experience</b>
        </h2>
        <p>At <b>Yardwork Professional</b>, it's our goal to provide quality and professionalism beyond expectations.
            While many landscaping companies specialize in only installation or maintenance, we have a team of certified
            professionals for all your outdoor living needs, including design and installation, pavers, drainage
            solutions, landscape lighting, sprinkler repairs, palm/tree removals, major clean-ups, and outdoor living
            solutions.&nbsp;</p>
        <p>We do the right thing for every client, which starts with a promise to return your calls within 24 business
            hours and provide detailed
            <a href="tel:4074801670" title="call us">pricing</a> within three business days to get your project going.
            Throughout the process, we'll stay in touch to make sure you know what to expect and when. Whether we're on
            your property for irrigation repair, outdoor living installation, or commercial maintenance, we wear company
            uniforms and work with respect for your home or business.&nbsp;</p>
        <p>Turn your outdoor space into your personal paradise. We provide customized solutions that make it possible.
            Fill out our contact form to learn more about our 20-year history among landscaping companies in Winter
            Garden and how we can help with your project.</p>
    </div>
</div>
<div class="grid-container">
    <table>
        <tr>
            <td><img class="table-image" src="/assets/landscape-design.jpg"></td>
            <td class="table-data"><h2>Landscape Design</h2>
                <p>The foundation of every magnificent landscape starts with the design. Landscape design companies are
                    not all alike; you will find that you have a better overall experience with a landscape professional
                    who has been in the industry for an extended period. When designing a landscape, it is essential to
                    take into consideration factors like the type of usage the area is subject to, personal preferences,
                    the budgets involved in building and maintaining, the surroundings areas, etc.<br>
                    It is with this in mind that we approach every project. Whether your design calls for a retaining
                    wall along the property perimeter, or a myriad of trees, flowers and shrubs throughout the yard, a
                    well thought out plan saves time, energy and money.</p>
            </td>
        </tr>
    </table>
</div>
<div class="grid-container">
    <table>
        <tr>
            <td><img class="table-image" src="/assets/custom-curbing-800x450.jpg"></td>
            <td class="table-data"><h2>Custom Curving</h2>
                <p>Concrete curbing can enhance your landscape; it is half the price of bricks, and is a permanent
                    solution, increases curb appeal, decreases the time spent trimming around landscape beds and
                    increase your property value.</p>
                <p><b>Yardwork Professional</b> can also handle all of your decorative concrete landscape curbing
                    projects as well. Our decorative, stamped curbing is on the cutting edge of landscape design.
                    Concrete curbing is a professionally installed, permanent, attractive concrete border edging that
                    provides great additions and solutions to any landscape and serves as a weed and grass barrier by
                    outlining flowerbeds. Mansfield Landscaping decorative concrete curbing can be installed around
                    trees, flowerbeds, sidewalks and just about anywhere you like. Our curbing comes in multiple shapes,
                    colors, stamp patterns, and textures; including brick, stone, and slate - and will create customized
                    profiles and impressions upon request.</p>
            </td>
        </tr>
    </table>
</div>
<div class="grid-container">
    <table>
        <tr>
            <td><img class="table-image" src="/assets/palms-trees-and-shrubs-800x450.jpg"></td>
            <td class="table-data"><h2>Palms, Trees & Shrubs</h2>
                <p>The plethora of plants, trees, and shrubs available can make selecting those that suit both the
                    location and style of your space seem a daunting prospect. Planting design is about correctly
                    placing and balancing quantities of plants and seeking to create the beautiful image you hold in
                    your mind's eye. Let us wow your garden guests or provide respite after a busy day.<br>
                    Our fully stocked Nursery carries a vast selection of specimen quality trees, palms, and shrubs to
                    enhance landscape, garden, and home. From deciduous flowering trees to palm trees, shade or
                    ornamental varieties, we can help you select the perfect tree for your environment. When it comes to
                    shrubs, we carry a broad spectrum that reflects the Florida landscape providing natural beauty and
                    definition to your property. Our changing inventory and design assistance can help you to select the
                    right plant for the right location that will give you lasting aesthetic enjoyment.</p>
            </td>
        </tr>
    </table>
</div>
<div class="grid-container">
    <table>
        <tr>
            <td><img class="table-image" src="/assets/irrigation-800x450.jpg"></td>
            <td class="table-data"><h4>Irrigation</h4>
                <p>Yardwork Professional offers not only sprinkler repair services, but we also provide sprinkler system
                    upgrades which can not only help save you money on your water bill but help you go green and keep
                    Florida (and your lawn and garden) beautiful. We take all the guesswork out of repairing and
                    installing lawn irrigation and plant irrigation systems in your yard.</p>
            <td class="table-data"><h4>Sprinkler Repair</h4>
                <p><b>Yardwork Professional</b> offers affordable prices, quality products, and dependable service! The
                    advantage of using Yardwork Professional is that with a straightforward change, we give you a lot of
                    benefits, like saving money, water, and time. We also anticipate decreased liability and reduced
                    system wear and tear. Our installers meet all industry regulations and environmental challenges
                    while providing a lush landscape that all can enjoy. That's a lot of payback for just changing a
                    nozzle!</p>
            </td>
        </tr>
    </table>
</div>
<div class="container">
    <div class="row">
        <div class="col-2">&nbsp;</div>
        <div class="col-9 contact-form">
            <h1 class="text-center"><b>CONTACT US</b></h1>
            <div class="card-body">
                <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
                    <div class="form-group">
                        <div class="container">
                            <div class="row">
                                <div class="col-2 label">
                                    <b>Name:</b>
                                </div>
                                <div class="col-10">
                                    <input type="text" [(ngModel)]="contactName" class="form-control" id="contactName"
                                           name="contactName"
                                           required pattern="\w{3,40}">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="container">
                            <div class="row">
                                <div class="col-2 label">
                                    <b>Phone:</b>
                                </div>
                                <div class="col-10">
                                    <input type="tel" [(ngModel)]="phone" class="form-control" id="contactPhone"
                                           name="contactPhone" required>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="container">
                            <div class="row">
                                <div class="col-2 label">
                                    <b>Email:</b>
                                </div>
                                <div class="col-10">
                                    <input type="email" [(ngModel)]="contactEmail" class="form-control"
                                           id="contactEmail" name="contactEmail">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4">&nbsp;</div>
                        <div class="col-8">
                            <button type="submit" id="customerButton" class="btn btn-primary text-center">
                                <b>Send</b>
                            </button>
                        </div>
                        <div class="col-4">&nbsp;</div>
                    </div>
                    <div class="row">&nbsp;</div>
                </form>
            </div>
        </div>
        <div class="col-1">&nbsp;</div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-3">&nbsp;</div>
        <div class="col-6" style="white-space: nowrap">
            Yardwork Professional&reg; 2025
        </div>
        <div class="col-3">&nbsp;</div>
    </div>
</div>
